<main>
    <section class="row flex-wrap gx-3" id="glutter">
    </section>
    <div class="modal fade" data-bs-backdrop="static" id="Mensaje">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-body" id="modalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</main>